repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
- repo: https://github.com/pycqa/isort
  rev: 5.6.4
  hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
- repo: https://github.com/psf/black
  rev: stable
  hooks:
    - id: black
      args: ["-l 88"]
